*.bak
unicode_categories.*.pkl
upload.bat

others/

__pycache__/
*.py[cod]
*.egg-info
build/
dist/
.hypothesis/
.mypy_cache/

# C extensions
*.so
*.o
*.exe
*.dll

# codeblocks
*.layout
*.depend
bin/
obj/
