aiohttp>=3.7.4
aioresponses>=0.7.2
av>=8.0; python_version>='3.8'
ctypes-windows-sdk>=0.0.14; sys_platform=='win32'
flask>=0.12.3
gensim>=4.0.0
gmpy2
hypothesis
jsonschema
keras
mistune<2
msgpack>=0.6.0
nltk>=3.6.1
numba; python_version<'3.11'
numpy
opencv-python
packaging
pandas
pdfminer
Pillow>=9.2.0
PyPDF2>=3.0.0
pywin32; sys_platform=='win32'
requests
requests-mock
ruamel.yaml
scipy<1.13
setuptools
simple-salesforce>=1.1.0
simplejson
tika
tls-property>=1.0.1
toml
typing-extensions>=4.0.0
werkzeug>=0.11.11
