future

aiohttp; python_version >= '3.5'
bencode.py # bencode
ctypes-windows-sdk; sys_platform == 'win32'
flask
jsonschema
msgpack
netifaces
nltk
opencv-python # cv2
orderedset
PyPDF2
pypiwin32; sys_platform == 'win32' # win32evtlog, winerror
rhash; sys_platform == 'win32'
toml
unidecode
werkzeug
wmi

#wxasync
#wxPython # wx

contextlib2; python_version < '3'
mock; python_version < '3'
pathlib; python_version < '3'
pathlib2; python_version < '3'
scandir; python_version < '3'
typing; python_version < '3'
